In [1]:
import pandas as pd
import numpy as np
import json
from pathlib import Path

In [2]:
DATA_DIR = "./data/"
train = pd.read_csv(DATA_DIR + "train.csv")
print("\t --- Train ---")
display(train.head(1))

print("\t --- Client --- ")
client = pd.read_csv(DATA_DIR + "client.csv")
display(client.head(1))

print("\t -- Historic weather ---")
historical_weather = pd.read_csv(DATA_DIR + "historical_weather.csv")
display(historical_weather.head(1))

print("\t --- Forecast weather ---")
forecast_weather = pd.read_csv(DATA_DIR + "forecast_weather.csv")
display(forecast_weather.head(1))

print("\t --- Electricity Prices ---")
electricity = pd.read_csv(DATA_DIR + "electricity_prices.csv")
display(electricity.head(1))

print("\t --- Gas Prices ---")
gas = pd.read_csv(DATA_DIR + "gas_prices.csv")
display(gas.head(1))

print("\t --- Location ---")
location = pd.read_csv(DATA_DIR + "county_lon_lats.csv")
display(location.head(1))

	 --- Train ---

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0

	 --- Client ---

,product_type,county,eic_count,installed_capacity,is_business,date,data_block_id
0,1,0,108,952.89,0,2021-09-01,2

	 -- Historic weather ---

,datetime,temperature,dewpoint,rain,snowfall,surface_pressure,cloudcover_total,cloudcover_low,cloudcover_mid,cloudcover_high,windspeed_10m,winddirection_10m,shortwave_radiation,direct_solar_radiation,diffuse_radiation,latitude,longitude,data_block_id
0,2021-09-01 00:00:00,14.4,12.0,0.0,0.0,1015.8,4,4,0,0,6.694444,3,0.0,0.0,0.0,57.6,21.7,1

	 --- Forecast weather ---

,latitude,longitude,origin_datetime,hours_ahead,temperature,dewpoint,cloudcover_high,cloudcover_low,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,57.6,21.7,2021-09-01 00:00:00+00:00,1,15.655786,11.553613,0.904816,0.019714,0.0,0.905899,-0.411328,-9.106137,1,2021-09-01 01:00:00+00:00,0.0,0.0,0.0,0.0

	 --- Electricity Prices ---

         forecast_date  euros_per_mwh          origin_date  data_block_id
0  2021-09-01 00:00:00          92.51  2021-08-31 00:00:00              1

	 --- Gas Prices ---

,forecast_date,lowest_price_per_mwh,highest_price_per_mwh,origin_date,data_block_id
0,2021-09-01,45.23,46.32,2021-08-31,1

	 --- Location ---

   county  longitude  latitude
0       0       24.2      59.1

In [3]:
# load collated dataset
df = pd.read_csv(DATA_DIR+"collated_train.csv")
display(df.head(1))

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,date,...,target_6_days_ago,target_7_days_ago,target_8_days_ago,target_9_days_ago,target_10_days_ago,target_11_days_ago,target_12_days_ago,target_13_days_ago,target_14_days_ago,target_15_days_ago
0,0,0,1,0.713,0,2021-09-01 00:00:00,0,0,0,2021-09-01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018352 entries, 0 to 2018351
Data columns (total 71 columns):
 #   Column                                    Dtype
---  ------                                    -----
 0   county                                    int64
 1   is_business                               int64
 2   product_type                              int64
 3   target                                    float64
 4   is_consumption                            int64
 5   datetime                                  object
 6   data_block_id                             int64
 7   row_id                                    int64
 8   prediction_unit_id                        int64
 9   date                                      object
 10  year                                      int64
 11  quarter                                   int64
 12  month                                     int64
 13  week                                      int64
 14  hour                                      int64
 15  day_of_year                               int64
 16  day_of_month                              int64
 17  day_of_week                               int64
 18  eic_count_client                          float64
 19  installed_capacity_client                 float64
 20  date_client                               object
 21  temperature_h_mean                        float64
 22  dewpoint_h_mean                           float64
 23  rain_h_mean                               float64
 24  snowfall_h_mean                           float64
 25  surface_pressure_h_mean                   float64
 26  cloudcover_total_h_mean                   float64
 27  cloudcover_low_h_mean                     float64
 28  cloudcover_mid_h_mean                     float64
 29  cloudcover_high_h_mean                    float64
 30  windspeed_10m_h_mean                      float64
 31  winddirection_10m_h_mean                  float64
 32  shortwave_radiation_h_mean                float64
 33  direct_solar_radiation_h_mean             float64
 34  diffuse_radiation_h_mean                  float64
 35  hour_h                                    float64
 36  hours_ahead_f_mean                        float64
 37  temperature_f_mean                        float64
 38  dewpoint_f_mean                           float64
 39  cloudcover_high_f_mean                    float64
 40  cloudcover_low_f_mean                     float64
 41  cloudcover_mid_f_mean                     float64
 42  cloudcover_total_f_mean                   float64
 43  10_metre_u_wind_component_f_mean          float64
 44  10_metre_v_wind_component_f_mean          float64
 45  direct_solar_radiation_f_mean             float64
 46  surface_solar_radiation_downwards_f_mean  float64
 47  snowfall_f_mean                           float64
 48  total_precipitation_f_mean                float64
 49  forecast_date_electricity                 object
 50  euros_per_mwh_electricity                 float64
 51  origin_date_electricity                   object
 52  forecast_date_gas                         object
 53  lowest_price_per_mwh_gas                  float64
 54  highest_price_per_mwh_gas                 float64
 55  origin_date_gas                           object
 56  mean_price_per_mwh_gas                    float64
 57  target_2_days_ago                         float64
 58  target_3_days_ago                         float64
 59  target_4_days_ago                         float64
 60  target_5_days_ago                         float64
 61  target_6_days_ago                         float64
 62  target_7_days_ago                         float64
 63  target_8_days_ago                         float64
 64  target_9_days_ago                         float64
 65  target_10_days_ago                        float64
 66  target_11_days_ago                        float64
 67  target_12_days_ago                        float64
 68  target_13_days_ago                        float64
 69  target_14_days_ago                        float64
 70  target_15_days_ago                        float64
dtypes: float64(49), int64(15), object(7)
memory usage: 1.9 GB

In [12]:
df.select_dtypes(exclude='number').shape[1]#.info()

7

In [18]:
print(f"Numeric  features: #{df.select_dtypes(exclude='object').shape[1]} {df.select_dtypes(exclude='object')}")

Numeric  features: #64          county  is_business  product_type   target  is_consumption  \
0             0            0             1    0.713               0
1             0            0             1   96.590               1
2             0            0             2    0.000               0
3             0            0             2   17.314               1
4             0            0             3    2.904               0
...         ...          ...           ...      ...             ...
2018347      15            1             0  197.233               1
2018348      15            1             1    0.000               0
2018349      15            1             1   28.404               1
2018350      15            1             3    0.000               0
2018351      15            1             3  196.240               1

         data_block_id   row_id  prediction_unit_id  year  quarter  ...  \
0                    0        0                   0  2021        3  ...
1                    0        1                   0  2021        3  ...
2                    0        2                   1  2021        3  ...
3                    0        3                   1  2021        3  ...
4                    0        4                   2  2021        3  ...
...                ...      ...                 ...   ...      ...  ...
2018347            637  2018347                  64  2023        2  ...
2018348            637  2018348                  59  2023        2  ...
2018349            637  2018349                  59  2023        2  ...
2018350            637  2018350                  60  2023        2  ...
2018351            637  2018351                  60  2023        2  ...

         target_6_days_ago  target_7_days_ago  target_8_days_ago  \
0                      NaN                NaN                NaN
1                      NaN                NaN                NaN
2                      NaN                NaN                NaN
3                      NaN                NaN                NaN
4                      NaN                NaN                NaN
...                    ...                ...                ...
2018347            356.783            415.530            182.342
2018348              0.000              0.000              0.000
2018349             36.611             31.286             35.523
2018350              0.000              0.000              0.000
2018351            188.689            195.707            224.021

         target_9_days_ago  target_10_days_ago  target_11_days_ago  \
0                      NaN                 NaN                 NaN
1                      NaN                 NaN                 NaN
2                      NaN                 NaN                 NaN
3                      NaN                 NaN                 NaN
4                      NaN                 NaN                 NaN
...                    ...                 ...                 ...
2018347            459.845             162.786             186.582
2018348              0.000               0.000               0.000
2018349             31.393              34.568              39.465
2018350              0.000               0.000               0.000
2018351            238.829             162.337             167.095

         target_12_days_ago  target_13_days_ago  target_14_days_ago  \
0                       NaN                 NaN                 NaN
1                       NaN                 NaN                 NaN
2                       NaN                 NaN                 NaN
3                       NaN                 NaN                 NaN
4                       NaN                 NaN                 NaN
...                     ...                 ...                 ...
2018347             191.756             181.415             421.707
2018348               0.000               0.000               0.000
2018349              39.052              42.543              33.179
2018350               0.000               0.000               0.000
2018351             186.238             201.477             170.890

         target_15_days_ago
0                       NaN
1                       NaN
2                       NaN
3                       NaN
4                       NaN
...                     ...
2018347             410.259
2018348               0.000
2018349              35.835
2018350               0.000
2018351             176.778

[2018352 rows x 64 columns]

In [17]:
print(f"Object features: #{df.select_dtypes(exclude='number').shape[1]} {df.select_dtypes(exclude='number')}")

Object features: #7                     datetime        date date_client  \
0        2021-09-01 00:00:00  2021-09-01         NaN
1        2021-09-01 00:00:00  2021-09-01         NaN
2        2021-09-01 00:00:00  2021-09-01         NaN
3        2021-09-01 00:00:00  2021-09-01         NaN
4        2021-09-01 00:00:00  2021-09-01         NaN
...                      ...         ...         ...
2018347  2023-05-31 23:00:00  2023-05-31  2023-05-29
2018348  2023-05-31 23:00:00  2023-05-31  2023-05-29
2018349  2023-05-31 23:00:00  2023-05-31  2023-05-29
2018350  2023-05-31 23:00:00  2023-05-31  2023-05-29
2018351  2023-05-31 23:00:00  2023-05-31  2023-05-29

        forecast_date_electricity origin_date_electricity forecast_date_gas  \
0                             NaN                     NaN               NaN
1                             NaN                     NaN               NaN
2                             NaN                     NaN               NaN
3                             NaN                     NaN               NaN
4                             NaN                     NaN               NaN
...                           ...                     ...               ...
2018347       2023-05-30 23:00:00     2023-05-29 23:00:00        2023-05-30
2018348       2023-05-30 23:00:00     2023-05-29 23:00:00        2023-05-30
2018349       2023-05-30 23:00:00     2023-05-29 23:00:00        2023-05-30
2018350       2023-05-30 23:00:00     2023-05-29 23:00:00        2023-05-30
2018351       2023-05-30 23:00:00     2023-05-29 23:00:00        2023-05-30

        origin_date_gas
0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
...                 ...
2018347      2023-05-29
2018348      2023-05-29
2018349      2023-05-29
2018350      2023-05-29
2018351      2023-05-29

[2018352 rows x 7 columns]